#types {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#types>div {
    border: 1px solid black;
    width: 15%;
    height: 50px;
    font-family: Muli, sans-serif !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}



#search {
    padding: 20px;
    position: relative;
}

#search>input {
    position: absolute;
    top: 50%;
    padding: 15px 25px;
    width: 50%;
    border: none;
    outline: none;
    font-size: 25px;
    border-radius: 45px;
    right: 20%;
}

#search>img {
    display: block;
    margin: auto;
    filter: blur(1px);
}

#whereTo {
    margin-top: -60px;
}

.swiper-slide>div>img{
    width:100%;
    height:auto;
}


#bestOfBest>div{
  width:90%;
  height:auto;
  margin:auto;
  background-color: #FAF1ED;
  display:flex;
  justify-content: space-between;

}


#bestOfBest>div>div:nth-child(2)>img
{
   width:550px;
   height:230px;
}

#bestOfBest>div>div:nth-child(1)>h1
{
  margin-top: 50px;
  margin-left: 20px;
}

#bestOfBest>div>div:nth-child(1)>p
{
  margin-left: 20px;
  color:#333333;
  font-size: 18px;
  margin-top: -20px;
}

#bestOfBest>div>div:nth-child(1)>button{
    margin-top: 40px;
    margin-left: 20px;
    padding:15px 20px 15px 20px;
    border-radius: 25px;
    font-weight: bolder;
    background-color: black;
    color:white;
    border:0px;
    font-size: 15px;

}

#slider1{
    width:90%;
    margin:auto;
    margin-top: 70px;
}

.swiper-slide>div>img{
    width:300px;
    height:300px;
}

.swiper-slide>div>h1{
    font-size: 18px;
    text-align: left;
    
}

.swiper-slide>div>h3{
    font-size: 18px;
    text-align: left;
    
    margin-top: -20px;
}

.swiper-slide>div>p{
    text-align: left;
    margin-top: -10px;
    font-size: 17px;
}

#slider2{
    width:90%;
    margin:auto;
}

#slider2>h2{
    margin-top: 50px;
}


#slider-2>div>img{
    width:100px;
    height:300px;
}

#slider3{
    width:90%;
    margin:auto;
    background-color: #faf1ed;
}


.slider3>div{
    border:1px solid red;
}

#slider4{
    width:90%;
    margin: auto;
    margin-top: 70px;

}

.swiper-slide>div{
    overflow: hidden;
}